:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.flex-container {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  color: white;
}

.flex-header-outer {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.flex-header {
  display: flex;
  flex-direction: column;
}

.flex-header-small {
  padding-right: 15px;
  font-size: medium;
  color: dimgray;
}

a {
  color: dimgray;
  text-decoration: none;
}

.header {
  font-size: 4vw;
  letter-spacing: -0.03em;
  line-height: 1;
}

.header-gray {
  font-size: 4vw;
  letter-spacing: -0.03em;
  line-height: 1;
  color: dimgray;
}

.parent {
  display: flex;
  flex-direction: column;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.child {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  overflow-y: hidden;
}

.small {
  display: none;
}

.instaimage {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .child {
    height: auto;
    width: auto;
    max-width: 320px;
    max-height: 320px;
    overflow-y: hidden;
  }

  .small {
    display: none;
  }

  .instaimage {
    height: auto;
    width: auto;
    max-width: 320px;
    max-height: 320px;
  }
}

@media screen and (max-width: 480px) {
  .child {
    height: auto;
    width: auto;
    max-width: 320px;
    max-height: 320px;
    overflow-y: hidden;
  }

  .small {
    display: none;
  }

  .instaimage {
    height: auto;
    width: auto;
    max-width: 320px;
    max-height: 320px;
  }
}
